body {
  margin: 0;
  padding: 0;
  font-family: "Spline Sans", sans-serif;
}

footer, header {
  font-family: "DynaPuff", system-ui
}

html,
body {
  height: 100%;
}

/*empuja el footer abajo */
footer {
  margin-top: auto;
}

/* BARRA DE NAVEGACION */
.navbar {
  display: flex;
  justify-content: space-around; /* Separa izquierda-centro-derecha */
  align-items: center;
  background-color: rgba(251, 104, 132, 0.85);
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Asegura que esté por encima de todo */
}

/* LOGO */
.navbar-logo img {
  height: 50px;
  border-radius: 8px;
}

/* MENÚ CENTRO */
.navbar-menu {
  list-style: none;
  display: flex;
  gap: 60px;
  padding: 0;
  margin: 0;
}

.navbar-menu a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  position: relative;
  transition: 0.3;
}

/* EFECTO HOVER */
.navbar-menu a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: white;
  bottom: -5px;
  left: 0;
  transition: 0.3s;
}

.navbar-menu a:hover {
  color: white;
}

.navbar-menu a:hover::after {
  width: 100%;
}

/* DERECHA */
.navbar-ubicacion {
  font-size: 16px;
}

.navbar-ubicacion a {
  text-decoration: none;
  color: #1d3557;
}

/* BANNER */
.main-banner {
  width: 100%;
  height: 90vh;
  background: linear-gradient(135deg, #a8dadc, #f1faee);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0;
}

.main-banner img {
  width: 100%;
  height: 100%;
  border-radius: 50px;
}

/* INICIO PRESENTACION*/
.inicio {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding: 100px 60px;
  background: linear-gradient(135deg, #e643a2, #efaac2);
}

/* IMAGEN IZQUIERDA */
.inicio img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

/* CONTENIDO DERECHA */
.inicio-contenido {
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

/* TEXTO */
.inicio h1 {
  font-size: 42px;
  margin-bottom: 10px;
  color: #1d3557;
}

.inicio p {
  font-size: 18px;
  margin-bottom: 25px;
  color: #333;
}

/* BOTONES */
.botones {
  display: flex;
  gap: 15px;
}

.boton {
  background-color: #457b9d;
  color: white;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 30px;
  font-weight: bold;
  transition: 0.3s;
}

.boton:hover {
  background-color: #1d3557;
  transform: scale(1.05);
}

/* FOOTER */
footer {
  background-color: #ff914c;
  border-top: 3px solid #e76f51;
}

footer p{
  text-align: center;
}

/* CONTENEDOR */
.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  
  gap: 50px;
  padding: 20px;
}

/* IZQUIERDA */
.inst-ubicacion {
  justify-self: center;
  text-align: left;
}

.inst-ubicacion iframe {
  width: 300px;
  height: 140px;
  border-radius: 10px;
}

/* CENTRO */
.derechos {
  justify-self: center;
  text-align: center;
}

.derechos img {
  width: 200px;
  height: 140px;
  border-radius: 10px;
}

.derechos p {
  font-size: 13px;
  margin-top: 5px;
}

/* DERECHA */
.contact {
  justify-self: center;
  display: flex;
  gap: 12px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact img {
  box-shadow:
    5px 5px 0px 0px rgba(255, 0, 0, 1),
    10px 10px 0px 0px rgba(255, 136, 0, 1),
    15px 15px 0px 0px rgba(255, 255, 0, 1);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  width: 50px;
  height: 50px;
  transition:
    transform 0.3s,
    opacity 0.3s;
  cursor: pointer;
}

/* EFECTO HOVER */
.contact img:hover {
  transform: scale(1.15);
  opacity: 0.8;
}
