.contact_content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  gap: 20px;
}

.contact_content .card {
  flex-direction: column;
  gap: 10px;
  max-width: 500px;
  font-size: 20px;
  flex: 1;
}

.contact_content .card img {
  border-radius: 200px;
}

/* CONTENEDOR GENERAL FORMULARIO */
.form_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}

/* TITULO */
.form_page h1 {
  margin-bottom: 30px;
  color: #1d3557;
}

/* FORMULARIO */
.formulario {
  background: white;
  padding: 30px;
  border-radius: 20px;
  width: 350px;

  display: flex;
  flex-direction: column;
  gap: 15px;

  box-shadow: 20px 20px 40px -5px rgba(245, 1, 1, 0.3);
}

/* CADA BLOQUE */
.formulario div {
  display: flex;
  flex-direction: column;
}

/* LABELS */
.formulario label {
  margin-bottom: 5px;
  font-weight: 600;
  color: #333;
}

/* INPUTS */
.formulario input,
.formulario textarea {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
  transition: 0.3s;
}

/* EFECTO FOCUS */
.formulario input:focus,
.formulario textarea:focus {
  border-color: #457b9d;
  box-shadow: 0 0 5px rgba(69, 123, 157, 0.3);
}

/* RADIO (género) */
.formulario input[type="radio"] {
  width: auto;
  margin-right: 5px;
}

/* AGRUPAR RADIO */
.formulario div p {
  margin-bottom: 5px;
  font-weight: 600;
}

/* BOTON */
.buttom-send {
  background: linear-gradient(135deg, #06b6d4, #8b5cf6);
  color: white;
  border: none;
  padding: 12px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.buttom-send:hover {
  transform: scale(1.05);
  background: linear-gradient(135deg, #7c3aed, #7c3aed);
}
