/* =========================
    ABOUT SECTION
========================= */
.about_main {
  background: #cfb215;
  background: linear-gradient(to top, #f4a95e 0%, #fa99af 100%);
  padding: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
}

section.card_principal {
  width: 80%;
  height: 80%;
}

/* CARD */
.card {
  background: white;
  border-radius: 20px;
  padding: 20px;

  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;

  font-weight: 500;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;

  backdrop-filter: blur(5px);

  box-shadow: 20px 20px 40px -5px rgba(245, 1, 1, 0.3);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 30px;
}

.card_texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  max-width: 700px;
  gap: 25px;
}

.formacion_section {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.formacion_section h2 {
  text-align: center;
  margin-bottom: 20px;
}

.flex_cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  gap: 40px;
  padding: 40px;
}

.card_formacion {
  background: white;
  border-radius: 20px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;

  font-weight: 500;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;

  backdrop-filter: blur(5px);

  box-shadow: 20px 20px 40px -5px rgba(245, 1, 1, 0.3);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 30px;
}

/* HOVER MÁS ELEGANTE */
.card:hover,
.card_formacion:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
}

/* IMÁGENES */
.img_principal {
  width: auto;
  height: 600px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 10px;
}

.img_formacion {
  width: 500px;
  height: 250px;
  border-radius: 12px;
  margin-bottom: 10px;
}

/* TITULOS */
.card h3,
.card_formacion h3 {
  font-size: 27px;
  color: #1d3557;
  margin: 10px 0;
  text-align: center;
  max-width: 400px;
}

/* TEXTO */
.card p {
  font-size: 17px;
  color: #555;
}

/* BOTONES */
.button {
  width: auto;
  height: 43px;
  background: linear-gradient(135deg, #06b6d4, #8b5cf6);
  color: #ffffff;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.3px;
  border-radius: 14px;
  padding: 15px 34px;
  box-shadow: 0px 10px 30px -2px rgba(139, 92, 246, 0.5);
  transition: all 0.3s ease;
  cursor: pointer;
  display: inline-flex;
  user-select: auto;
  position: relative;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.button_academica {
  background: linear-gradient(135deg, #ffbded, #450dc9);
}

.button_formacion {
  background: linear-gradient(135deg, #eae557, #c90d97);
}

.button:hover {
  transform: translateY(-3px) scale(1.03);
  background: linear-gradient(135deg, #7c3aed, #7c3aed);
  color: #ffffff;
}

.button:active {
  transform: scale(0.96);
}
